# SQL Part 4 Studio

For this studio, you will be working in small groups and using the BooksDB.  One group member should screen share while fellow group members code along in their own notebooks.  Each group member will submit a link to their studio notebook.

You are back at the bookstore helping employees with their inventory of books.   Four employees need your help with finding books to create in-store displays.  Read their requests and decide if you want to use a correlated subquery, nested subquery, UNION operator, EXCEPT operator, or INTERSECT operator.  You may not use any joins or add multiple statements to the WHERE clause unless explicitly asked.

## QUESTION 1:  

Willow wants a list of book titles that have multiple authors attributed to them.  Write a query to return her desired results.

In [89]:
/*
-- Nested Subquery
-- Authors provided for quick visual check (optional)

SELECT TOP 2 b.authors, b.title
FROM BooksDB.dbo.books AS b
WHERE authors =
    (SELECT b.authors
    WHERE authors LIKE '%,%')

    -- returning books with multiple author attributions
    -- 2079 rows
*/

## QUESTION 2:

Ira was asked by a customer for titles that have been tagged "Meditation".  As you create a query for Ira, think about how the tables in BooksDB are organized as you write your query.

In [90]:
/*
-- Nested Subquery
-- Diagram: books (title) --> book_tags (goodreads_book_id) --> tags (tag_name) 

SELECT b.title
FROM BooksDB.dbo.books AS b
WHERE b.book_id IN
    (SELECT bt.goodreads_book_id
    FROM BooksDB.dbo.book_tags as bt
    WHERE bt.tag_id IN
        (SELECT t.tag_id
        FROM BooksDB.dbo.tags AS t
        WHERE t.tag_name LIKE '%meditation%'));

-- ANS Note:
-- 44 rows using book_id
-- 42 using best_book_id
*/

## QUESTION 3:  

Alyce wants to create a display of books that have an average rating of 4.2 or higher, but she only wants books that share both title and original title.  Write a query that displays both the original title and title for Alyce, in descending order by rating.  Make sure that none of the original titles contain NULL values either.

In [91]:
/*
-- EXCEPT operator

SELECT b.title, b.original_title, b.average_rating
FROM BooksDB.dbo.books AS b
WHERE b.average_rating >= 4.2 AND b.original_title IS NOT NULL
EXCEPT
SELECT b.title, b.original_title, b.average_rating
FROM BooksDB.dbo.books AS b
WHERE b.title NOT LIKE b.original_title 
ORDER BY b.average_rating;


-- 832 rows (NOT LIKE)
*/

## QUESTION 4:  

Thisbe is planning to make a long-term display of popular books that she will update monthly, reflecting different time periods.  She wants to make it reader-centric by including titles that readers have averagely rated higher than the book's actual average rating. 

**Part A:**   Write a query that compares the publication time with average reader ratings.

**Part B:**  She wants the list ordered by year, then the book title

In [94]:
/*
-- Correlated subquery 

SELECT b.original_publication_year, b.title
FROM BooksDB.dbo.books AS b 
WHERE b.average_rating < (SELECT AVG(r.rating) AS Reader
                          FROM BooksDB.dbo.ratings AS r
                          WHERE r.book_id = b.book_id)
-- Part B:
ORDER BY b.original_publication_year, b.title;

-- 178 rows
*/